.root{
-fx-background-image:url('fondoinicio.png');
-fx-background-size:cover;
}

.help{
-fx-background-image:url('pantallaayuda2.png');
-fx-background-size:cover;
}

.helpP1{
-fx-background-image:url('pantallaayudaP2.png');
-fx-background-size:cover;
}

.helpP2{
-fx-background-image:url('pantallaayudaP1.png');
-fx-background-size:cover;
}